<tr>
  <td><%= link_to(job.title, admin_job_path(job)) %></td>
  <td><%= simple_format(job.description) %></td>
  <td>
    <%= link_to("Edit", edit_admin_job_path(job)) %>
    |
    <%= link_to("Destroy", admin_job_path(job), method: :delete) %>
  </td>
  <td><%= job.created_at %></td>

</tr>
